{% extends 'templates/app.twig' %}

{% block content %}
	<div class="module">
		<div class="module-head">
			<h3>
				Todos os Membros</h3>
		</div>
		<div class="module-option clearfix">
			<form>
				<div class="input-append">
					<input type="text" class="span4" placeholder="Pesquisar..">

					<select tabindex="1" data-placeholder="Select here.." class="span2">
						<option value="">Setor..</option>
						<option value="Category 1">Alimentos</option>
						<option value="Category 2">Atacadista e varejista</option>
						<option value="Category 3">Third Row</option>
						<option value="Category 4">Fourth Row</option>
					</select>

					<select tabindex="1" data-placeholder="Select here.." class="span2">
						<option value="">Segmento..</option>
						<option value="Category 1">Alimentos</option>
						<option value="Category 2">Atacadista e varejista</option>
						<option value="Category 3">Third Row</option>
						<option value="Category 4">Fourth Row</option>
					</select>
					<button type="submit" class="btn btn-info">
						<i class="icon-search"></i>
						Pesquisar
					</button>
				</div>

				<div class="input-append"></div>

			</form>

		</div>
		<div class="module-body">
			<div class="row-fluid">
				<div class="span6">

					<div class="media user">
						<a class="media-avatar pull-left" href="#">
							<img src="{{base_url()}}/images/logo/miragina.jpg">
						</a>

						<div class="media-body">
							<h3 class="media-title">
								Miragina
							</h3>
							<p>
								<small class="muted">Alimentos</small><br>
								<small class="muted">
									<b>5</b>
									Produtos Cadastrados</small>

							</p>
						</div>

						<div class="media-option btn-group ">
							<a href="{{path_for('auth.painel.user-detail')}}" class="btn btn-small btn-info">
								<i class="icon-edit"></i>
								editar
							</a>
							<a href="#" class="btn btn-small btn-danger">
								<i class="icon-trash"></i>
								excluir
							</a>
						</div>
					</div>
				</div>

			</div>
			<br>

			{% include 'templates/partials/loadingPagination.twig' %}
		</div>
	</div>
{% endblock %}
