<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
				<i class="icon-reorder shaded"></i>
			</a>
			<a class="brand" href="{{base_url()}}/painel">
				<img src="{{base_url()}}/images/logo-nav.png" width="150px" alt="logo comex">
			</a>
			<ul class="nav pull-right">

				<li class="nav-user dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						{{auth.user.name}}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Editar Perfil</a>
						</li>
						<li>
							<a href="#">Alterar Senha</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="{{path_for('auth.signout')}}">Sair</a>
						</li>
					</ul>
				</li>
			</ul>
			<div class="nav-collapse collapse navbar-inverse-collapse"></div>
			<!-- /.nav-collapse -->
		</div>
	</div>
	<!-- /navbar-inner -->
</div>
<!-- /navbar -->
